// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1dc87b;
$gray: #1f1d1d;
$light-gray: #e2dade;

$medium-gray: #8d8d8d;
$purple: #d97ee3;
$dusky-pink: #98526F;
