<nav class="navbar">
  <div class="navbar-left">
    <p>Watch List</p>
    <i class="fa-solid fa-clapperboard"></i>
  </div>
  <div class="navbar-right">
    <%= link_to "My Lists", lists_path %>
    <%= link_to "New List", new_list_path, :class => "btn btn-outline-success" %>
  </div>
</nav>
