<nav class="navbar-watch-list">
  <div class="navbar-watch-list-left">
    <%= link_to root_path, class: "navbar-logo" do %>
      <i class="fa-solid fa-clapperboard"></i>
      <p><%= link_to "Watch List", root_path %></p>
    <% end %>
  </div>
  <div class="navbar-watch-list-right">
    <p><%= link_to "My Lists", lists_path, :class  => "my-lists" %></p>
    <%= link_to "+ List", new_list_path, :class => "btn-purple-border" %>
  </div>
</nav>
