.btn-purple-border {
  color: $purple;
  text-decoration: none;
  padding: 8px 24px;
  border: 2px solid $purple;
  border-radius: 4px;
  transition: opacity 0.3s ease;
}

a.btn-purple-border:hover {
  color: #bf5aca;
  border: 2px solid #bf5aca;
}

.btn-purple {
  color: $light-gray;
  text-decoration: none;
  padding: 8px 24px;
  border-radius: 4px;
  background: $purple;
  margin: 4px;
}

a.btn-purple:hover {
  color: #c8c6c6;
  background-color: #bf5aca;
}

.btn-gray {
  color: $light-gray;
  background-color: $medium-gray;
  text-decoration: none;
  padding: 8px 24px;
  border-radius: 4px;
  transition: opacity 0.3s ease;
  margin: 4px;
}

a.btn-gray:hover {
  color: #9f9f9f;
  background-color: #5f5f5f
}
